/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 

@font-face {
    font-family:"STARWARS";
    src:url("fonts/STARWARS.eot?") format("eot"),url("fonts/STARWARS.woff") format("woff"),url("fonts/STARWARS.ttf") format("truetype"),url("fonts/STARWARS.svg#STARWARS") format("svg");font-weight:normal;
    font-style:normal;}

*{
    font-family: "STARWARS" !important;
}
body{
    background-image: url(../images/battlefront-background.jpg);
}


.btn-primary, .btn-danger{
    font-size: 2vw;
    padding: .375rem 1vw;
}
.card{
    margin-bottom: 20px;
}
.card-title{
    font-size:4vw;
}

#title{
    font-size: 5vw;
}
.red-text{
    color:red;
}